nav {
    height: 5rem;
    background: #28A439;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0rem calc{(100vw - 1300px) /2}; */
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    cursor: pointer;
}

nav a:hover {
    color: rgb(42, 17, 182);
}